.teacherProfile, .LearnByCategoryContainer {
    padding-top: 70px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.LearnByCategoryContainer .sorry, .AppDescriptionContainer p {
    text-align: center;
}

.selectedCategory {
    color: #E4B320;
    font-family: 'Fredericka the Great', cursive;
}

.events-container {
    width: 80%;
    margin: auto;
}

/* dashboard actions */
.dash-buttons {
    text-align: center;
}

.dash-buttons .btn, .my-1 {
    background-color: #E4B320;
    color: white;
    font-size: 17px;
    font-family: 'Fredericka the Great', cursive;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}