hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.LearnByCategoryContainer .sorry, .AppDescriptionContainer p, .SpecificTeachersClassesContainer .sorry {
    text-align: center;
}

.selectedCategory {
    color: #E4B320;
    font-family: 'Fredericka the Great', cursive;
}

.events-container {
    width: 80%;
    margin: auto;
}

/* dashboard actions */
.dash-buttons {
    text-align: center;
}

.dash-buttons .btn, .teacherProfile .createProfileBtn.btn {
    background-color: #E4B320;
    color: white;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.btn.delete-account {
    background-color:rgb(218, 68, 34);
    color: white;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.fa-palette, .fa-utensils, .fa-drafting-compass, .fa-lightbulb, .fa-seedling, .fa-running,.fa-glass-cheers, .fa-laptop, .fa-spa, .fa-cat, .fa-feather-alt {
    color: #E4B320;
}

.fa-earlybirds {
    color: #DA7A22;
}

.CardWrapper {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px 100px 10px 100px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
}