.wrapper {
    width: 50%;
    padding-top: 70px;
    padding: 70px 30px 30px 30px;
    margin: auto;
}

.sign-in, .sign-up {
  color: #E4B320;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4), 0 0 15px rgba(255,255,255,0.4);
  font-size: 80px;
  padding-top:20px;
  padding-bottom: 20px;
}

.haveAcctQ {
  padding-top: 10px;
}

.haveAcctQ a {
  color: #E4B320;
}


.log, .create-btn{
  background-color: #E4B320;
  color: white;
  font-size:17px;
  font-family: 'Fredericka the Great', cursive;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}