.listOfTeachersContainer {
    text-align: center;
    padding-top:70px;
}

.TeachersProfile h1{
    font-size: 30px;
}

.TeachersProfile {
    max-width:600px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-gap: 2rem;
    padding: 1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    background-color: rgb(73, 105, 109);
  }

  .TeachersProfile .bioSection {
      text-align:left;
  }