.class-card {
    border-radius: 10px;
    margin: 40px;
    padding: 30px;
    background-color: rgb(73, 105, 109);
}

.class-signup-btn {
    background-color: #DA7A22;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.5em;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: none;
}

strong {
    font-size: 1.5em;
    color: #DA7A22;
    font-family: 'Great Vibes', cursive;
}

p {
    font-size: 1em;
    color: #CECDC9;
    font-family: 'Lustria', serif;
}