.MapClassCardContainer {
    /* display flex and align-items flex-start is needed to keep the map sticky */
    display:flex;
    align-items:flex-start;

    width: 100%;

}
.MapClassCardContainer .the-map {
    width: 50vw;
    /* this sets the height to fit the entire viewport */
    height: 100vh;
    z-index: -5;
}

.MapClassCardContainer #features {
    width: 50%;
    font-family: sans-serif;
    background-color: #fafafa;
    }

.MapClassCardContainer section {
    padding:  25px 25px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
}

.MapClassCardContainer section.active {
    opacity: 1;
}

.MapClassCardContainer section:last-child {
    border-bottom: none;
    margin-bottom: 200px;
}

#features .class-card {
    margin:0;
}

/* don't display directions with map view */
.MapClassCardContainer .directions-btn{
  display: none;
}

/* do not display map on mobile view */
@media (max-width: 782px) {
    .MapClassCardContainer {
        display: none;
    }
}
