/* Header */

.site-header {
  position: fixed;
  width: 100%;
  margin: 0 0 50px 0;
  padding: 10px 50px 0px 50px;
  color: #ffffff;
  background: rgba(255,255,255,0.4);
  z-index: 100;
}

.site-logo, .home {
  color: #E4B320;
  font-size: 30px;
  font-family: 'Fredericka the Great', Verdana, Tahoma, sans-serif;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4), 0 0 15px rgba(255,255,255,0.4);
  text-decoration: none;
}

.home.btn {
  background:none;
  margin-right:0;
  padding: 0;
}

.home.btn:hover {
  opacity: 0.8;
  color: #E4B320;
}

/* Dropdown*/
.collapsibleHeader .dropdown {
  width: -webkit-fill-available;
}

.dropdown, .teacherLinkBtn .btn{ 
  position: relative;
  float: left;
  font-family: 'Quicksand', sans-serif;
}

.dropdown.first {
  margin-left: 20px;
}

.dropdown #categoryDropdownMenuLink {
  font-size: 17px;
  color:#DA7A22;
  font-weight: bold;
  margin-top: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: var(--light-color);
  /* background-color: #f9f9f9; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: .25rem
}

.dropdown-content a {
  color: #212529;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

/* teacher button */
.site-header .teacherLinkBtn .btn {
  margin-top: 5px;
}

.site-header .teacherLinkBtn .btn {
  font-size: 17px;
  color:#E4B320;
  font-weight: bold;
}

/* Login Button */
.LogInBtns .btn {
  background-color: #E4B320;
  color:rgba(238, 237, 234, 0.911);
  font-size:17px;
  font-family: 'Quicksand', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

/* collapsible header styling */
.dropDownBtn {
  padding: 0.50rem 1.5rem;
  font-size: 25px;
}
.collapsibleCategories, .collapsibleTeachers a, .collapsibleLogIn {
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.collapsibleCategories, .collapsibleTeachers {
  background: var(--light-color);
  padding-top:5px;
}

.collapsibleCategories {
  color: #DA7A22;
}

.collapsibleTeachers a {
  color: #E4B320;
  padding-bottom:5px;
}

.collapsibleLogIn {
  background-color: #E4B320;
}

.collapsibleLogIn .dropdown-item {
  color:  #f4f4f4;
}

.collapsibleLogIn .dropdown-item:hover, .collapsibleTeachers .dropdown-item:hover {
  color: black;
  background:rgb(247, 207, 61);
}

.collapsibleCategories.dropdown-item:hover {
  background: rgb(223, 174, 128);
}

/* wider screen view */
@media only screen and (min-width:1036px) {
  .narrowView {
    display:none;
  }
  .site-logo{
    float: left;
  }
}

/* narrower screen view */
@media only screen and (max-width:1035px) {
  .wideView {
    display:none;
  }
  .site-header {
    padding:0;
  }

  .site-logo {
    position: fixed;
    margin-left: 55px;
    margin-top: 4px;
  }
}

