/* Header */

.site-header {
  position: fixed;
  width: 100%;
  margin: 0 0 50px 0;
  padding: 10px 50px 0px 50px;
  color: #ffffff;
  background: rgba(255,255,255,0.4);
  z-index: 100;
}

.site-logo, .home, .home:hover {
  color: #E4B320;
  font-size: 30px;
  font-family: 'Fredericka the Great', Verdana, Tahoma, sans-serif;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4), 0 0 15px rgba(255,255,255,0.4);
  float: left;
  text-decoration: none;
}

/* Dropdown Buttons */

.dropdown {
  position: relative;
  float: left;
  font-family: 'Lustria', serif;
}

.dropdown.first {
  margin-left: 20px;
}

.dropdown #categoryDropdownMenuLink {
  font-size: 17px;
  color:#DA7A22;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4), 0 0 15px rgba(255,255,255,0.4);
  margin-top: 5px;
}

.dropdown #teacherDropdownMenuLink {
  font-size: 17px;
  color:#E4B320;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4), 0 0 15px rgba(255,255,255,0.4);
  margin-top: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: .25rem
}

.dropdown-content a {
  color: rgb(73, 105, 109);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Login Button */
.LogInBtns .btn {
  background-color: #E4B320;
  color: white;
  font-size:17px;
  font-family: 'Fredericka the Great', cursive;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

/* narrower screen view */
@media only screen and (max-width:1019px){
  .wideView {
    display:none;
  }
}

/* wider screen view */
@media only screen and (min-width:1019px){
  .narrowView {
    display:none;
  }
}