/* Category Buttons */

.categoryBtnContainer {
    padding-top:30px;
    text-align: center;
}

.categoryBtnContainer p {
    color:rgba(238, 237, 234, 0.911);
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
}

.categoryBtnContainer .btn {
    background-color: #DA7A22;
    color:rgba(238, 237, 234, 0.911);
    font-family: 'Quicksand', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 576px) {
    .categoryBtnContainer .btn {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}

/* change the text when no more map */
@media (max-width: 782px) {
    .wideViewText {
      display: none;
    }
    .narrowViewText {
      display: inline;
    }
  }
  @media (min-width: 783px) {
    .narrowViewText {
      display: none;
    }
    .wideViewText {
      display: inline;
    }
  }