.container {
    width: 50%;
}
.teachersProfileContainer {
  padding-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
}

.teachersProfileContainer .form .form-group .form-text {
  color: #CECDC9;
  font-family: 'Lustria', serif;
}

.teachersProfileContainer .socialLinks .btn {
  background-color: #E4B320;
  color: white;
  font-size: 17px;
  font-family: 'Fredericka the Great', cursive;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.teachersProfileContainer .submit-btn{
  background-color: #DA7A22;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.5em;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  border: none;
}

.teachersProfileContainer .back-btn{
  background-color: #DA7A22;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.5em;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  border: none;
}

.teachersProfileContainer .socialOptional {
  font-family: 'Lustria', serif;
  font-size: 17px;
}

.teachForm {
  margin: 20px;
  padding: 20px;
  text-align: left;
}

.form-group {
    font-family: 'Lustria', serif;
    font-size: 17px;
    color: #CECDC9;
}

h1 {
  color: #E4B320;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4), 0 0 15px rgba(255,255,255,0.4);
  font-size: 60px;
  padding-top:20px;
}

h2 {
   color: #DA7A22;
   text-align: center;
   font-family: 'Great Vibes', cursive;
   font-size: 40px;
}

.teachersProfileContainer .fa-twitter, .teachersProfileContainer .fa-facebook, .teachersProfileContainer .fa-instagram  {
  text-align: center;
  background-color: lightgray;
  border-radius: 10px;
  margin-right: 10px;
}

