.HostClassContainer {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.teachersProfileContainer {
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.teachersProfileContainer .form .form-group .form-text {
  color: #CECDC9;
  font-family: 'Quicksand', sans-serif;
}

.teachersProfileContainer .socialLinks .btn {
  background-color: #E4B320;
  color: rgba(238, 237, 234, 0.911);
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 5px;
  margin-top: 5px;
}

.teachersProfileContainer .submit-btn, .HostClassContainer .submit-btn {
  background-color: #DA7A22;
  color: rgba(238, 237, 234, 0.911);
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: .25rem;
  border: none;
}

.teachersProfileContainer .back-btn, .HostClassContainer .back-btn {
  background-color: #DA7A22;
  color: rgba(238, 237, 234, 0.911);
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: .25rem;
  border: none;
}

.teachersProfileContainer .socialOptional {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
}

.teachForm {
  text-align: left;
}

.form-group {
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    color: #CECDC9;
}

h1 {
  color: #E4B320;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4), 0 0 15px rgba(255,255,255,0.4);
  font-size: 60px;
  padding-top:20px;
}

h2 {
   color: #DA7A22;
   text-align: center;
   font-family: 'Great Vibes', cursive;
   font-size: 40px;
}

.teachersProfileContainer .fa-twitter, .teachersProfileContainer .fa-facebook, .teachersProfileContainer .fa-instagram  {
  text-align: center;
  background-color: lightgray;
  border-radius: 10px;
  margin-right: 10px;
}

.HostClassContainer .form-control {
  font-family: 'Quicksand', sans-serif;
}